->Maximum Mana Cost for non character cards                = 4
->Minimum Card Value for Neutral Minions (bad/medium/good) = medium
->Min Mana Cost to Attend Minion Value                     = 3
->Attend Minion Value when choosing neutral minions        = true
->Add Millhouse Manastorm to Black List                    = true
->Maximum Mana Cost to instant add Neutral Minion          = 2
->Only Add Minion if it has an effect (or mana low enough) = false
