============================================= Mana Cost ==============================================

->Maximum Mana Cost for non character cards                               = 4
->Maximum Mana Cost for Warlock / Hunter                                  = 3

============================================= Card Value =============================================

->Attend Minion Value when choosing neutral minions in general            = true
->Min Mana Cost to Attend Minion Value                                    = 3
->Minimum Card Value for Neutral Minions                                  = medium
      ->bad
      ->medium
      ->good

============================================= Black List ==============================================

->Add Millhouse Manastorm to Black List                                   = true

=============================================   Misc   ================================================

->Maximum Mana Cost to instant add Neutral Minion                         = 2
->Only Add Minion if it has an effect (^ or mana low enough ^)            = false
->Minimum Card Quality to intant add Neutral Minion (if Cost <= MaxCost)  = legendary
      ->free
      ->common
      ->rare
      ->epic
      ->legendary
