============================================= Mana Cost ==============================================

->Maximum Mana Cost for non character cards                                     = 4
->Maximum Mana Cost for Warlock / Hunter                                        = 3

============================================= Card Value =============================================

->Attend Minion Value when choosing neutral minions in general                  = true
->Min Mana Cost to Attend Minion Value                                          = 3
->Minimum Card Value for Neutral Minions                                        = medium
->bad
->medium
->good
->excellent
->Increase the minium required Card Value by 1 if Minion Card has max cost      = true
->Ignore Value if Card is X-Drop (but <= MaxCost) and
Hand contains at least 1 "X-Drop - 1" and "X-Drop - 2"                          = true
-> X                                                                            = 4
->Only make ignoring Value possible if Card hasnt a bad effect                  = true

============================================= Black List ==============================================

->Add Millhouse Manastorm to Black List                                         = true
->Add Soulfire                                                                  = true

=============================================   Misc   ================================================

->Maximum Mana Cost to instant add Neutral Minion                               = 2
->Only Add Minion if it has an effect (^ or mana low enough ^)                  = false
->Minimum Card Quality to intant add Neutral Minion (if Cost <= MaxCost)        = epic
->free
->common
->rare
->epic
->legendary

=============================================   Twins   ================================================

->Allow twins                                                                   = true
->Don't allow twins if Mana Cost                                                >= 4

============================================= Own Black List ============================================



==========================================   Own Black List End   =======================================
